<!--------------Footer------------------>

<footer class="p-5 w-100 d-flex flex-wrap justify-content-between align-items-center border-bottom" style="background-color:#008080; color:#fff;">
    <div class="foot_right w-100 w-md-50">
      <p>Do you have any Emergency? Call these Numbers:</p>
      <p><i class="fas fa-phone-alt"></i>&nbsp;+91 9947896956 (IND)</p>
      <p><i class="fas fa-phone-alt"></i>&nbsp;+1 9345834572 (CND)</p>
      <p><i class="fas fa-phone-alt"></i>&nbsp;+966 994738539 (UAE)</p>
    </div>
    <div class="foot_left w-100 w-md-50 mt-4 mt-md-0">
      <div class="logos d-flex justify-content-center justify-content-md-end">
        <a href="#" class="text-white mx-2"><i class="fab fa-whatsapp fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
      </div>
      <br>
      <h5 class="text-center text-md-end">M-CARE Multi National Clinic Pvt. Ltd</h5>
    </div>
  </footer>
  
  <footer class="py-3 text-white text-center" style="background-color:#008080; color:#fff;">
    <p>&copy; M-CARE CLINIC 2024 Hospital Management. All rights reserved.</p>
  </footer>