<!-------------Navbar------------------>
<nav class="navbar navbar-expand-lg sticky-top d-flex"style="background-color:#008080;" height:"5.5rem;">
  <div class="container">
    <h1><a class="navbar-brand" href="{% url 'home' %}" style="color:#fff; font-size: 2.5rem;">M-CARE</a></h1>
    <button class="navbar-toggler  d-flex  border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2"></span>
      <div class="nav-item" id="profile">
      {% if user.is_authenticated %}
        {% if user.userprofile.profile_picture %}
        <a class="btn btn-dark rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'profile' %}" style="width: 40px; height: 40px">
          <img src="{{ user.userprofile.profile_picture.url }}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
        {% else %}
        <a class="btn btn-light rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'profile' %}" style="width: 40px; height: 40px">
          <img src="{% static 'image/user.jpg' %}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
        {% endif %}
      {% else %}
        <a class="btn btn-light rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'login' %}" style="width: 40px; height: 40px">
          <img src="{% static 'image/user.jpg' %}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
      {% endif %}
      </div> 
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto" style="text-align: center; color: blue;">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_admission' %}">AdmissionOpen</a>
        </li>
      </ul>
    </div>
    <div class="profile d-flex"><!-- Booking Icon -->
      <a class="btn btn-light rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'booking' %}" style="width: 40px; height: 40px;">
        <i class="fas fa-calendar-alt" style="font-size: 1.5rem; color:#fff;"></i>
      </a>
      {% if user.is_authenticated %}
        {% if user.userprofile.profile_picture %}
        <a class="btn btn-dark rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'profile' %}" style="width: 40px; height: 40px">
          <img src="{{ user.userprofile.profile_picture.url }}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
        {% else %}
        <a class="btn btn-light rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'profile' %}" style="width: 40px; height: 40px">
          <img src="{% static 'image/user.jpg' %}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
        {% endif %}
      {% else %}
        <a class="btn btn-light rounded-circle d-flex justify-content-center align-items-center ms-3" href="{% url 'login' %}" style="width: 40px; height: 40px">
          <img src="{% static 'image/user.jpg' %}" class="rounded-circle" style="width: 40px; height: 40px" />
        </a>
      {% endif %}
      
    </div>
  </div>
</nav>